@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Righteous&family=Roboto+Slab:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.mont {
  font-family: 'Montserrat', sans-serif;
}

.rig {
  font-family: 'Righteous', cursive;
}

.robo {
  font-family: 'Roboto Slab', serif;
}
